<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="airtelServiceObjcet" class="com.ibs.training.SpringDependencyObjTest.DataService"></bean>
	<!-- <bean id="airtelServiceObjcet" class="com.ibs.training.SpringDependencyObjTest.HelloTuneService"></bean>
	<bean id="airtelServiceObjcet" class="com.ibs.training.SpringDependencyObjTest.MissedCallAlertService"></bean> -->
	
	<bean id="airtel" class="com.ibs.training.SpringDependencyObjTest.Airtel">
		<property name="service" ref="airtelServiceObjcet"/>
	</bean>
	
	
</beans>